In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Dataset (pequeño) de datos de películas
df = pd.read_csv('./datasets/tiny.csv')
print(df.shape)
df

(4, 5)

                     Title  Rating TotalVotes     Genre1     Genre2
0  12 Years a Slave (2013)     8.1    496,092  Biography      Drama
1         127 Hours (2010)     7.6    297,075  Adventure  Biography
2             50/50 (2011)     7.7    283,935     Comedy      Drama
3        About Time (2013)     7.8    225,412     Comedy      Drama

In [5]:
df.groupby(['Genre1', 'Genre2']).mean()

/tmp/ipykernel_32699/2342734813.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Genre1', 'Genre2']).mean()

                     Rating
Genre1    Genre2
Adventure Biography    7.60
Biography Drama        8.10
Comedy    Drama        7.75